.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main > div {
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 5px 3px 18px -1px rgba(0,0,0,0.7);
}

.menuWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menuWrapper > button {
  border: 1px solid lightskyblue;
  background-color: lightskyblue;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.menuWrapper > button:disabled {
  border: 1px solid gray;
  background-color: gray;
  cursor: default;
}

.info {
  color: red;
  font-size: 0.875rem;
}